<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ServerManagementEntities" connectionString="metadata=res://*/Model.Entity.ServerManagementModel.csdl|res://*/Model.Entity.ServerManagementModel.ssdl|res://*/Model.Entity.ServerManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANM-SONNVH;initial catalog=ServerManagement;persist security info=True;user id=sa;password=aptx4869;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ServerManagement.Properties.Settings.ServerManagementConnectionString"
      connectionString="Data Source=ANM-SONNVH;Initial Catalog=ServerManagement;Persist Security Info=True;User ID=sa;Password=aptx4869;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>